@{
    Layout = null;
    var message = TempData["Message"] as string;
    var status = TempData["Status"] as bool?;
    var url = TempData["RedirectUrl"] as string;
    if (message != null)
    {
        await Html.RenderPartialAsync("MessagePartial", Tuple.Create(message, status ?? false, url));
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change</title>
    <link rel="stylesheet" href="~/css/forgetPassword.css">
    <link rel="stylesheet" href="~/css/loginCommon.css">
</head>

<body>
    <form class="form" method="post" asp-controller="Login" asp-action="ForgetPassword">
        <p class="title">Forget Password </p>

        <label>
            <input class="input" type="text" name="confirm_code" placeholder="" required="">
            <span>Code</span>
        </label>

        <label>
            <input class="input" type="password" name="new_password" maxlength="15" placeholder="" required="">
            <span>New Password</span>
        </label>
        <label>
            <input class="input" type="password" name="confirm_password" maxlength="15" placeholder="" required="">
            <span>Confirm password</span>
        </label>
        <button class="submit">Change</button>
    </form>

    <script src="~/js/login.js"></script>
</body>

</html>