@{
    Layout = null;
    var message = TempData["Message"] as string;
    var status = TempData["Status"] as bool?;
    var url = TempData["RedirectUrl"] as string;
    if (message != null)
    {
        await Html.RenderPartialAsync("MessagePartial", Tuple.Create(message, status ?? false, url));
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="~/css/loginCommon.css">
</head>

<body>
    <form class="form" method="post" asp-controller="Login" asp-action="Login">
        <p class="title">Login </p>

        <label>
            <input class="input" type="text" id="phone_number" name="phone_number" placeholder="" required="">
            <span>Phone Number</span>
        </label>

        <label>
            <input class="input" type="password" name="password" maxlength="15" placeholder="" required="">
            <span>Password</span>
        </label>

        <span class="signup"><a href="@Url.Action("SendMail", "Login")">Forgot password?</a></span>

        <button class="submit">Login</button>

        <p class="signup">Don't have an account ? <a href="@Url.Action("Register", "Login")">Sign-up</a> </p>
    </form>

    <script src="~/js/login.js"></script>
</body>

</html>